@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);









body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Raleway', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Raleway', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Raleway', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #3d8eb9 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #3d8eb9 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #3d8eb9 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #3d8eb9 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #3d8eb9;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #3d8eb9;
}
.btn-social:hover {
  background: #3d8eb9;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #3d8eb9;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #3d8eb9;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #3d8eb9;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #3d8eb9;
}
.lead a,
.lead a:hover {
  color: #3d8eb9;
}
.lead blockquote {
  border-color: #3d8eb9;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #3d8eb9;
}
#header2-26 H3 {
  color: #3d8eb9;
}
#header2-26 P {
  color: #3d8eb9;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #3d8eb9;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #3d8eb9;
  font-family: 'Raleway', sans-serif;
}
#menu-0 .link {
  font-size: 0.6rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-0 .bg-color.transparent .link {
  color: #3d8eb9;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #3d8eb9;
}
#header3-2r .mbr-section-title,
#header3-2r .mbr-section-subtitle {
  text-align: center;
}
#msg-box4-b H3 {
  color: #ffffff;
  font-size: 30px;
  text-align: left;
}
#msg-box4-b P {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
#header3-2q .mbr-section-title,
#header3-2q .mbr-section-subtitle {
  text-align: center;
}
#msg-box8-2p .mbr-section-title,
#msg-box8-2p p {
  color: #fff;
}
#msg-box8-2p .lead B {
  color: #ffffff;
}
#features1-t .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-t .mbr-cards-col:nth-child(odd) .card-text {
  font-family: 'Raleway', sans-serif;
  color: #28324e;
}
#features1-t .mbr-cards-col:nth-child(even) .card-title {
  color: #3d8eb9;
  font-size: 17px;
}
#features1-t .mbr-cards-col:nth-child(even) .card-text {
  color: #232323;
}
#features1-t .mbr-cards-col:nth-child(odd) .card-title {
  color: #3d8eb9;
  font-size: 17px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
#features1-t .mbr-cards-col:nth-child(even) .card-title SPAN {
  color: #3d8eb9;
}
#msg-box5-1u H3 {
  color: #3d8eb9;
  font-size: 25px;
}
#msg-box3-31 .mbr-section-title,
#msg-box3-31 p {
  color: #000;
}
#msg-box3-31 .btn {
  font-size: 14px;
}
#header3-27 .mbr-section-title,
#header3-27 .mbr-section-subtitle {
  text-align: center;
}
#header3-27 H3 {
  color: #3d8eb9;
  font-size: 25px;
}
#header3-27 SMALL {
  color: #28324e;
  font-family: 'Raleway', sans-serif;
}
#slider3-34 H2 {
  font-size: 30px;
}
#social-buttons3-x .mbr-section-title,
#social-buttons3-x .btn-social {
  color: #fff;
}
#social-buttons3-x .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}


#msg-box8-2o .mbr-section-title,
#msg-box8-2o p {
  color: #fff;
}
#msg-box8-2o .lead B {
  color: #ffffff;
}
#msg-box8-2o .lead P {
  text-align: center;
  color: #ffffff;
}
#msg-box5-1b H3 {
  font-size: 30px;
  color: #3d8eb9;
}
#msg-box5-1d H3 {
  color: #ffffff;
  font-size: 30px;
}
#msg-box5-1d P {
  color: #ffffff;
}
#msg-box5-1e H3 {
  font-size: 30px;
  color: #3d8eb9;
}
#msg-box5-1f H3 {
  font-size: 30px;
  color: #ffffff;
}
#msg-box5-1f P {
  color: #ffffff;
}
#msg-box3-30 .mbr-section-title,
#msg-box3-30 p {
  color: #000;
}
#msg-box3-30 .btn {
  font-size: 14px;
}
#menu-2e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2e .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-2e .navbar-toggler {
  color: #3d8eb9;
}
#menu-2e .link,
#menu-2e .dropdown-item {
  color: #3d8eb9;
  font-family: 'Raleway', sans-serif;
}
#menu-2e .link {
  font-size: 0.6rem;
}
#menu-2e .dropdown-item,
#menu-2e .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-2e .link:hover,
#menu-2e .dropdown-item:hover,
#menu-2e .link:focus,
#menu-2e .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-menu {
  background: #e6e6e6;
}
#menu-2e .nav-dropdown-sm .link:focus,
#menu-2e .nav-dropdown-sm .link:hover,
#menu-2e .nav-dropdown-sm .dropdown-item:focus,
#menu-2e .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2e .navbar,
#menu-2e .nav-dropdown-sm,
#menu-2e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2e .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2e .bg-color.transparent .link {
  color: #3d8eb9;
  transition: none;
}
#menu-2e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2e .bg-color.transparent.opened .link:hover,
#menu-2e .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#menu-2e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2e .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2e .close-icon::before,
#menu-2e .close-icon::after {
  background-color: #3d8eb9;
}


#menu-z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-z .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-z .navbar-toggler {
  color: #ffffff;
}
#menu-z .link,
#menu-z .dropdown-item {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
#menu-z .link {
  font-size: 0.6rem;
}
#menu-z .dropdown-item,
#menu-z .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-z .link:hover,
#menu-z .dropdown-item:hover,
#menu-z .link:focus,
#menu-z .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-menu {
  background: #307193;
}
#menu-z .nav-dropdown-sm .link:focus,
#menu-z .nav-dropdown-sm .link:hover,
#menu-z .nav-dropdown-sm .dropdown-item:focus,
#menu-z .nav-dropdown-sm .dropdown-item:hover {
  background: #3985ad!important;
}
#menu-z .navbar,
#menu-z .nav-dropdown-sm,
#menu-z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-z .nav-dropdown-sm .dropdown-menu {
  background: #3d8eb9;
}
#menu-z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-z .bg-color.transparent.opened .link:hover,
#menu-z .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-z .link[aria-expanded="true"],
#menu-z .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-z .close-icon::before,
#menu-z .close-icon::after {
  background-color: #ffffff;
}
#form1-13 .form-control-label {
  color: #232323;
}


#menu-2e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2e .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-2e .navbar-toggler {
  color: #3d8eb9;
}
#menu-2e .link,
#menu-2e .dropdown-item {
  color: #3d8eb9;
  font-family: 'Raleway', sans-serif;
}
#menu-2e .link {
  font-size: 0.6rem;
}
#menu-2e .dropdown-item,
#menu-2e .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-2e .link:hover,
#menu-2e .dropdown-item:hover,
#menu-2e .link:focus,
#menu-2e .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-menu {
  background: #e6e6e6;
}
#menu-2e .nav-dropdown-sm .link:focus,
#menu-2e .nav-dropdown-sm .link:hover,
#menu-2e .nav-dropdown-sm .dropdown-item:focus,
#menu-2e .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2e .navbar,
#menu-2e .nav-dropdown-sm,
#menu-2e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2e .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2e .bg-color.transparent .link {
  color: #3d8eb9;
  transition: none;
}
#menu-2e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2e .bg-color.transparent.opened .link:hover,
#menu-2e .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-2e .link[aria-expanded="true"],
#menu-2e .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#menu-2e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2e .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2e .close-icon::before,
#menu-2e .close-icon::after {
  background-color: #3d8eb9;
}
#msg-box8-2j .mbr-section-title,
#msg-box8-2j p {
  color: #fff;
}
#msg-box8-2j .lead B {
  color: #ffffff;
}
#content6-2i P {
  text-align: left;
}
#msg-box3-2h .mbr-section-title,
#msg-box3-2h p {
  color: #000;
}
#msg-box3-2h .btn {
  font-size: 14px;
}


#menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2k .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-2k .navbar-toggler {
  color: #3d8eb9;
}
#menu-2k .link,
#menu-2k .dropdown-item {
  color: #3d8eb9;
  font-family: 'Raleway', sans-serif;
}
#menu-2k .link {
  font-size: 0.6rem;
}
#menu-2k .dropdown-item,
#menu-2k .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-2k .link:hover,
#menu-2k .dropdown-item:hover,
#menu-2k .link:focus,
#menu-2k .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-menu {
  background: #e6e6e6;
}
#menu-2k .nav-dropdown-sm .link:focus,
#menu-2k .nav-dropdown-sm .link:hover,
#menu-2k .nav-dropdown-sm .dropdown-item:focus,
#menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2k .navbar,
#menu-2k .nav-dropdown-sm,
#menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2k .bg-color.transparent .link {
  color: #3d8eb9;
  transition: none;
}
#menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2k .bg-color.transparent.opened .link:hover,
#menu-2k .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#menu-2k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2k .close-icon::before,
#menu-2k .close-icon::after {
  background-color: #3d8eb9;
}
#msg-box3-2m .mbr-section-title,
#msg-box3-2m p {
  color: #000;
}
#msg-box3-2m .btn {
  font-size: 14px;
}


#menu-2s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2s .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-2s .navbar-toggler {
  color: #3d8eb9;
}
#menu-2s .link,
#menu-2s .dropdown-item {
  color: #3d8eb9;
  font-family: 'Raleway', sans-serif;
}
#menu-2s .link {
  font-size: 0.6rem;
}
#menu-2s .dropdown-item,
#menu-2s .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-2s .link:hover,
#menu-2s .dropdown-item:hover,
#menu-2s .link:focus,
#menu-2s .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-menu {
  background: #e6e6e6;
}
#menu-2s .nav-dropdown-sm .link:focus,
#menu-2s .nav-dropdown-sm .link:hover,
#menu-2s .nav-dropdown-sm .dropdown-item:focus,
#menu-2s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2s .navbar,
#menu-2s .nav-dropdown-sm,
#menu-2s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2s .bg-color.transparent .link {
  color: #3d8eb9;
  transition: none;
}
#menu-2s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2s .bg-color.transparent.opened .link:hover,
#menu-2s .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#menu-2s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2s .close-icon::before,
#menu-2s .close-icon::after {
  background-color: #3d8eb9;
}
#msg-box4-2w SPAN {
  font-size: 30px;
  color: #3d8eb9;
  text-align: right;
}
